<ul class="side-nav">
    {% for post in site.works reversed %}
    {% if post.category_music == page.subheadline %}
    {% if post.hide == yes %}
    <li><a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}">{% if post.subheadline %}{{ post.subheadline }} &middot; {% endif %}<span class="works-list-titles">{{ post.title }}</span><br><span class="works-list-descriptions">{{ post.year_composed }} / For {{ post.instrumentation }}</span><span class="works-list-duration">{{ post.duration }}</span></a></li>
    {% endif %}
    {% endif %}
    {% endfor %}
</ul>