---
layout: default
format: works
header:
    image_fullwidth_staff: ravaei_header.png
---

<!--{% include _breadcrumb.html %}-->

<div class="row t20">
    <div class="medium-8 columns {% if page.sidebar == NULL %} medium-offset-2 end{% endif %}{% if page.sidebar == "left" %} medium-push-4{% endif %} b30">
            <header>
                {% if page.image.title %}
                <figure>
                    <img src="{{ site.urlimg }}{{ page.image.title }}" width="970" alt="{{ page.title | escape_once }}" itemprop="image">

                    {% if page.image.caption_url and page.image.caption %}
                    <figcaption class="text-right">
                        <a href="{{ page.image.caption_url }}">{{ page.image.caption }}</a>
                    </figcaption>
                    {% elsif page.image.caption %}
                    <figcaption class="text-right">
                        {{ page.image.caption }}
                    </figcaption>
                    {% endif %}
                </figure>
                {% endif %}

                <div itemprop="name">
                    {% if page.subheadline %}<p class="subheadline">{{ page.subheadline }}</p>{% endif %}
                    <h1>{{ page.title }}</h1>
                </div>
            </header>


            {% if page.teaser %}
            <p class="teaser" itemprop="description">
                {{ page.teaser }}
            </p>
            {% endif %}

            <div itemprop="articleSection">
                {{ content }}
            </div>

            {% if page.show_meta == true %}
            {% include _meta_information.html %}
            {% endif %}

            {% if page.comments == true %}
            {% include _comments.html %}
            {% endif %}
    </div><!-- /.medium-8.columns -->


    {% if page.sidebar == "right" %}
    <div class="medium-6 columns">
        <aside>
            <div class="panel radius">
                <h3>Short Bio</h3>
                <p><b>Kian Ravaei</b> composes music that delivers heartfelt directness, bold melodies, and visceral power. His growing body of work has often been praised for combining rigorous compositional technique with naturalness and penetrating emotion. Born in 1999 of Iranian immigrants, Ravaei spent his childhood playing jazz, producing electronic dance music, and singing in a rock band when he should have been practicing piano sonatas. Ravaei's music has been performed by leading musicians and commissioned by notable organizations such as the <b>Canadian Music Centre</b> and <b>Salastina</b>. He makes his home in Los Angeles, where he serves as a Composer Teaching Artist Fellow for the <b>Los Angeles Chamber Orchestra</b>, and studies music composition with <b>Richard Danielpour</b> — one of his favorite living composers — at the UCLA Herb Alpert School of Music.</p>
            </div>
        </aside>
    </div><!-- /.medium-4.columns -->
    {% endif %}
</div><!-- /.row -->
</div>
</div>
